@font-face {
  font-family: "Special Elite";
  src: url("../fonts/SpecialElite-Regular.woff2") format("woff2"),
    url("../fonts/SpecialElite-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
   --bg-body: light-dark( hsl(180 90% 92% / 1),  hsl(180 25% 6% / 1));
   --bg-bloody: light-dark(hsl(180 35% 70% / 1), hsl(180 25% 20% / 1));
   --bg-medium: light-dark( hsl(180 35% 70% / 1), hsl(180 25% 10% / 1));
   --bg-well-done: light-dark( hsl(180 25% 55% / 1), hsl(180 0% 20% / 1));
   --bg-tools: light-dark( hsl(180 40% 88% / 1), hsl(180 0% 38% / 1));
   --bg-cancel: light-dark( hsl(0 90% 80% / 1), hsl(0 60% 50% / 0.9));
   --color: light-dark( hsl(180 90% 10% / 1), hsl(180 65% 89% / 1));
   --goldstar: light-dark(hsl(50 100% 50%), hsl(46 100% 50%));
   --black-n-white: light-dark(black, white);
}
:root[style*="light"] {
  [class*="sun"] {
    display: inline-block;
  }
  [class*="moon"] {
    display: none;
  }
}
:root[style*="dark"] {
  [class*="sun"] {
    display: none;
  }
  [class*="moon"] {
    display: inline-block;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  .scheme-toggle [class*="moon"] {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .root {
    color-scheme: dark;
  }
  .scheme-toggle [class*="sun"] {
    display: none;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  height: 100svh;
}
body {
  font-family: "Special Elite", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-body);
  color: var(--color);
  line-height: 1.5;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
input, select, button, dialog, :popover-open {
  font: inherit;
  color: var(--color);
}

header {
  background-color: var(--bg-well-done);
  border-block-end: 1px solid var(--color);
}
.heading {
  background-color: var(--bg-medium);
  outline: 4px dashed var(--color);
  outline-offset: -7px;
  display:flex;
  gap: 1.0rem;
  padding: 0.5rem;
}
.logo {
  font-size: 3rem;
  display: flex;
  align-items: center;
}
h1 {
  padding-block-start: 0.5rem;
}

.toolbar {
  width: clamp(300px, 100dvw, 1200px);
  margin: 0 auto;
  padding: 1px;
  display: flex;
  gap: 1px;
  justify-content: space-between;
}
.tools {
  display: flex;
  gap: 1px;
}
.tools select {
  width: min(29dvw, 240px);
  background-color: var(--bg-tools);
  border: none;
  outline: none;
}

.tools button:has([class*="info"]) {
  anchor-name: --info;
}
.tools button:has([class*="books"]) {
  anchor-name: --bookshelf;
}
.tools button:has([class*="book-open"]) {
  anchor-name: --book;
}
.tools button:has([class*="trash"]) {
  anchor-name: --remove;
}
label:has([type="checkbox"]),
label + [type="checkbox"],
button {
  cursor: pointer;
}
button:has(span) {
  font-size: 18px;
  line-height: 0;
  padding: 3px;
  background-color: var(--bg-tools);
  border: none;
}
button:not(:has(span)) {
  padding-block-start: 0.3rem;
  padding-inline: 0.4rem;
  background-color: var(--bg-medium);
  border: 1px solid var(--color);
  outline: 2px dotted var(--color);
  outline-offset: -4px;
}
.button-trash {
  background-color: var(--bg-medium);
  border: 1px groove var(--color);
  border-bottom-right-radius: 8px;
  corner-bottom-right-shape: bevel;
}

.toggle-view {
  display: none;
  position: relative;
  width: 24px;
  [class^="ph--table"] {
    visibility: visible;
  }
  [class^="ph--cards"] {
    visibility: hidden;
  }
}
.toggle-view.table {
  [class^="ph--table"] {
    visibility: hidden;
  }
  [class^="ph--cards"] {
    visibility: visible;
  }
}
.toggle-view span {
  position: absolute;
  top: 3px;
  left: 3px;
}

#book_read,
.book-read {
  appearance: none;
  position: relative;
  width: 1.4rem;
  aspect-ratio: 1 / 1;
  border: 2px dotted var(--color);
}
#book_read::before,
.book-read::before {
  content: "\2714";
  position: absolute;
  top: -15px;
  left: -4px;
  font-size: 2.5rem;
  color: var(--color);
  visibility: hidden;
}
#book_read:checked::before,
.book-read:checked::before {
  visibility: visible;
}
#rating,
.book-rating {
  display: grid;
  grid-auto-flow: column;
}
.star,
[class="rate-label"] {
  font-size: 1.25rem;
  filter: drop-shadow(1px 1px 2px hsl(from var(--black-n-white) h s l / 0.75));
}
input[id^="star"],
[class="rate-input"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}
.star:has(input:checked),
[class="rate-label"]:has(input:checked) {
  color: var(--goldstar);
}

.container {
  width: clamp(300px, calc(100dvw - 15px), 1200px);
  margin: 0 auto;
  padding-inline: 1rem;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  align-content: center;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
}

.book-card {
  width: clamp(280px, 96dvw, 400px);
  height: 400px;
  background-color: var(--bg-bloody);
  border: 1px solid var(--bg-well-done);
  outline: 4px dotted var(--color);
  outline-offset: -6px;
  border-radius: 16px;
  corner-shape: bevel;
  box-shadow: 10px 10px 10px 0px hsl(from var(--bg-well-done) h s l / 0.25);
  scroll-snap-align: none center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    ". author"
    "sp-cat category"
    "sp-year year"
    "sp-pages pages"
    "read read"
    "rating rating"
    ". trash";
  align-items: center;

  .book-title {
    grid-area: title;
    text-wrap-style: balance;
    text-align: center;
  }
  p {
    text-align: center;
  }
  span {
    text-align: right;
  }
  .book-author {
    grid-area: author;
  }
  .span-category {
    grid-area: sp-cat;
  }
  .book-category {
    grid-area: category;
  }
  .span-year {
    grid-area: sp-year;
  }
  .book-year {
    grid-area: year;
  }
  .span-pages {
    grid-area: sp-pages;
  }
  .book-pages {
    grid-area: pages;
  }
  .label-read,
  .book-read {
    grid-area: read;
    justify-self: center;
  }
  .book-read {
    margin-inline-start: 160px;
  }
  .book-rating {
    grid-area: rating;
    justify-self: center;
  }
  .button-trash {
    grid-area: trash;
    justify-self: end;
    margin-inline-end: 16px;
    margin-block-end: 4px;
  }
  [class^="span-"] {
    align-self: start;
  }
}

table {
  display: none;
}
.container.table {
  display: block;
  padding-inline: 0;
  table {
    display: table;
    border-collapse: collapse;
  }
  thead{
    background-color: var(--bg-medium);
  }
  th,
  td {
    border: 2px dotted var(--color);
    padding: 0.5rem;
  }
  td:nth-of-type(4),
  td:nth-of-type(5) {
    text-align: right;
  }
  td:nth-of-type(6) {
    text-align: center;
  }
  .book-rating {
    justify-self: center;
    align-self: center;
  }
  .button-trash {
    background-color: var(--bg-body);
  }
}

footer {
  padding: 0.2rem;
  border-block-start: 1px solid var(--color);
  background-color: var(--bg-medium);
}

#book_dialog,
#bookshelf_dialog,
#remove_dialog,
#info_pop {
  position: fixed;
  width: min(93dvw, 400px);
  margin-block-start: 0.5rem;
  padding: 0.5rem;
  background-color: color(from var(--bg-body) srgb r g b / 0.95);
  border: 1px solid var(--color);
  outline: 2px dashed var(--color);
  outline-offset: -5px;
}
[type="submit"] {
    justify-self: end;
    align-self: center;
}
button:has([class^="ph--x"]) {
  position: relative;
  justify-self: end;
  align-self: start;
  width: 24px;
  height: 24px;
  background-color: var(--bg-cancel);
  display: grid;
  justify-items: center;
  align-items: center;
  span {
    position: absolute;
    font-size: 2rem;
    color: var(--color);
  }
}

#book_dialog {
  position-anchor: --book;
  position-area: bottom;

  form {
    display: grid;
    grid-template-columns: 90px minmax(100px, 1fr);
    grid-auto-flow: row;
    gap: 1rem 0;
    align-items: center;
  }
  button {
    grid-column: 2;
  }
  .form-head {
    grid-column: span 2;
  }
  [for^="book"],
  .rating {
    justify-self: end;
    padding-inline-end: 0.5rem;
  }
  #rating {
    justify-content: start;
    line-height: 1;
  }
}

#bookshelf_dialog {
  position-anchor: --bookshelf;
  position-area: bottom span-right;
  margin-inline-start: 0.5rem;

  form {
    display: grid;
    grid-template-areas:
    ". exit"
    "label label"
    "input input"
    "explain submit";
  }
  button:has([class^="ph--x"]) {
    grid-area: exit;
  }
  label {
    grid-area: label;
    margin-top: 1rem;
  }
  input {
    grid-area: input;
    color: var(--color);
    margin-bottom: 1rem;
  }
  .explanation {
    grid-area: explain;
    font-size: 0.80rem;
  }
  button[type="submit"] {
    grid-area: submit;
  }
}

#remove_dialog:open {
  position-anchor: --remove;
  position-area: bottom;
  margin-inline-start: 0.7rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
  p {
    grid-column: 1 / 4;
  }
  button {
    justify-self: end;
  }
  button[class="confirm-removal"] {
    grid-column: 2 / 3;
  }
  button:not([class="confirm-removal"]) {
    grid-column: 3 / 4;
  }
}

#info_pop:popover-open {
  position-anchor: --info;
  position-area: bottom span-left;
  margin-inline-end: 0.5rem;
  ul {
    padding-inline-start: 20px;
  }
  li {
    padding: 0.5rem 0;
    text-wrap-style: pretty;
  }
  li:not(:last-of-type) {
    border-block-end: 1px groove var(--bg-bloody);
  }
}

@media (width > 449px) {
  body {
    display: block;
  }
  header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1;
  }
  footer {
    position: fixed;
    inset: auto 0 0 0;
  }
  .tools:last-of-type {
    padding-right: 0.75rem;
  }
  .container {
    margin-block-start: 8rem;
    padding-block-end: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-flow: row;
    scroll-snap-type: none;
    gap: 2rem 1.0rem;
  }
  .book-card {
    width: min(100%, 400px);
    scroll-snap-align: none none;
  }
}
@media (width > 699px) {
  .toggle-view {
    display: inline-block;
  }
}
@media (width > 1199px) {
  .tools:last-of-type {
    padding-right: 0;
  }
}
