@font-face {
  font-family: "Special Elite";
  src: url("../fonts/SpecialElite-Regular.woff2") format("woff2"),
    url("../fonts/SpecialElite-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
   /* --stroke: hsl(180 85% 75% / 1); */
   --bg-body: light-dark( hsl(180 90% 92% / 1),  hsl(180 25% 6% / 1));
   --bg-header: light-dark( hsl(180 35% 70% / 1), hsl(180 25% 10% / 1));
   --bg-card: light-dark(hsl(180 35% 70% / 1), hsl(180 25% 20% / 1));
   --bg-toolbar: light-dark( hsl(180 30% 60% / 1), hsl(180 0% 20% / 1));
   --bg-li: light-dark( hsl(180 40% 88% / 1), hsl(180 0% 38% / 1));
   --br-li: light-dark( hsl(180 30% 60% / 1), hsl(180 0% 20% / 1));
   --ch-li: light-dark( hsl(180 90% 10% / 1), hsl(180 65% 89% / 1));
   --bg-cancel: light-dark( hsl(0 90% 80% / 1), hsl(0 60% 50% / 0.9));
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  .scheme-toggle [class*="moon"] {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .root {
    color-scheme: dark;
  }
  .scheme-toggle [class*="sun"] {
    display: none;
  }
}
:root[style*="light"] {
  [class*="sun"] {
    display: inline-block;
  }
  [class*="moon"] {
    display: none;
  }
}
:root[style*="dark"] {
  [class*="sun"] {
    display: none;
  }
  [class*="moon"] {
    display: inline-block;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100svh;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  font-family: "Special Elite", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: var(--bg-body);
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: space-between;
}
img {
  display: block;
  max-width: 100%;
}
input, select, button {
  font: inherit;
}
button {
  cursor: pointer;
}

.heading {
  display:flex;
  gap: 1.0rem;
  background-color: var(--bg-header);
  outline: 4px dashed var(--ch-li);
  outline-offset: -8px;
}
.heading .logo {
  margin-inline-start: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: var(--ch-li);
}
.heading .title h1 {
  padding-top: 1rem;
  color: var(--ch-li);
}
.toolbar {
  padding: 2px;
  background-color: var(--bg-toolbar);
  display: flex;
  justify-content: space-between;
}
.tools {
  padding: 0;
  display: flex;
  gap: 1px;
}
.tools button {
  font-size: 18px;
  line-height: 0;
  padding: 3px;
  background-color: var(--bg-li);
  color: var(--ch-li);
  border: none;
}
.tools select {
  width: min(30dvw, 200px);
  background-color: var(--bg-li);
  border: none;
  outline: none;
}

.scheme-toggle {
  position: relative;
  width: 24px;
}
.scheme-toggle span {
  position: absolute;
  top: 3px;
  left: 3px;
}

.tools button:has([class*="info"]) {
  anchor-name: --info;
}
.tools button:has([class*="books"]) {
  anchor-name: --bookshelf;
}
.tools button:has([class*="book-open"]) {
  anchor-name: --book;
}
.tools button:has([class*="trash"]) {
  anchor-name: --remove;
}
dialog button:has([class^="ph--x"]) {
    position: relative;
    justify-self: end;
    align-self: start;
    width: 24px;
    height: 24px;
    border: none;
    background-color: var(--bg-cancel);
    display: grid;
    justify-items: center;
    align-items: center;
}
dialog button[type="submit"] {
    border: 1px solid var(--ch-li);
    outline: 2px dotted var(--ch-li);
    outline-offset: -4px;
    color: var(--ch-li);
    background-color: var(--bg-header);
    width: min-content;
    padding: 0.3rem;
    justify-self: end;
    align-self: center;
}

#book_dialog {
  position: fixed;
  position-anchor: --book;
  position-area: bottom;
  max-width: 100%;
  width: min(93dvw, 400px);
  margin-block-start: 0.5rem;
  margin-inline-end: 0.70rem;
  padding: 0.5rem;
  background-color: color(from var(--bg-body) srgb r g b / 0.9);
  color: var(--ch-li);
  border: 1px solid var(--ch-li);
  outline: 2px dashed var(--ch-li);
  outline-offset: -5px;
  form {
    display: grid;
    grid-template-columns: 90px minmax(100px, 1fr);
    grid-template-rows: 30px 70px;
    grid-auto-rows: 40px;
    grid-auto-flow: row;
    align-items: center;
  }
  button {
    grid-column: 2;
  }
  [class^="ph--x"] {
    position: absolute;
    font-size: 2rem;
    color: var(--ch-li);
  }
  .form-head {
    grid-column: span 2;
    padding-inline: 0.2rem;
  }
  [for^="book"],
  .rating {
    justify-self: end;
    padding-inline-end: 0.5rem;
  }
  input {
    color: var(--ch-li);
  }
  [id="book_read"] {
    appearance: none;
    position: relative;
    cursor: pointer;
    width: 1.4rem;
    aspect-ratio: 1 / 1;
    border: 2px dotted var(--ch-li);
  }
  [id="book_read"]::before {
    content: "\2714";
    position: absolute;
    top: -0.9rem;
    left: -0.2rem;
    font-size: 2.5rem;
    color: currentColor;
    visibility: hidden;
  }
  [id="book_read"]:checked::before {
    visibility: visible;
  }
  #rating {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
  }
  .star {
    font-size: 1.25rem;
    cursor: pointer;
  }
  input[id^="star"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }
  label:has(input:checked) {
    color: gold;
  }
}

#bookshelf_dialog {
  position: fixed;
  position-anchor: --bookshelf;
  position-area: bottom span-right;
  max-width: 100%;
  width: min(93dvw, 400px);
  margin-block-start: 0.5rem;
  margin-inline-start: 0.5rem;
  background-color: color(from var(--bg-body) srgb r g b / 0.9);
  color: var(--ch-li);
  border: 1px solid var(--ch-li);
  outline: 2px dashed var(--ch-li);
  outline-offset: -5px;
  form {
    display: grid;
    grid-template-areas:
    ". exit"
    "label label"
    "input input"
    "explain submit";
  }
  button:has([class^="ph--x"]) {
    grid-area: exit;
  }
  button span {
    position: absolute;
    font-size: 2rem;
    color: var(--ch-li);
  }
  label {
    margin-top: 1rem;
    grid-area: label;
  }
  input {
    grid-area: input;
    color: var(--ch-li);
    margin-bottom: 1rem;
  }
  .explanation {
    grid-area: explain;
    font-size: 0.80rem;
  }
  button[type="submit"] {
    grid-area: submit;
  }
}

#remove_dialog:open {
  position: fixed;
  position-anchor: --remove;
  position-area: bottom;
  max-width: 100%;
  width: min(93dvw, 400px);
  margin-block-start: 0.5rem;
  margin-inline-start: 0.7rem;
  background-color: color(from var(--bg-body) srgb r g b / 0.9);
  color: var(--ch-li);
  border: 1px solid var(--ch-li);
  outline: 2px dashed var(--ch-li);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
  p {
    grid-column: 1 / 4;
  }
  button {
    grid-row: 2 / 3;
    justify-self: end;
    border: 1px solid var(--ch-li);
    outline: 2px dotted var(--ch-li);
    outline-offset: -4px;
    color: var(--ch-li);
    background-color: var(--bg-header);
    width: min-content;
    padding: 0.3rem;
  }
  button[class="confirm-removal"] {
    grid-column: 2 / 3;
  }
  button:not([class="confirm-removal"]) {
    grid-column: 3 / 4;
  }
}

#info_pop:popover-open {
  position: fixed;
  position-anchor: --info;
  position-area: bottom span-left;
  width: min(85dvw, 400px);
  margin-block-start: 0.5rem;
  margin-inline-end: 0.5rem;
  background-color: color(from var(--bg-body) srgb r g b / 0.9);
  color: var(--ch-li);
  border: 1px solid var(--ch-li);
  outline: 2px dashed var(--ch-li);
  outline-offset: -5px;
  ul {
    padding-inline-start: 24px;
    li {
      padding: 0.5rem 0.2rem 0.5rem 0.5rem;
      text-wrap-style: pretty;
    }
    li:not(:last-of-type) {
      border-block-end: 1px groove var(--bg-card);
    }
  }
}

.container {
  width: min(100dvw, 1200px);
  margin: 3rem auto;
  padding-inline: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 3rem;
  justify-items: center;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
}
.book-card {
  width: min(96dvw, 400px);
  height: 400px;
  background-color: var(--bg-card);
  border: 1px solid var(--bg-toolbar);
  outline: 4px dotted var(--ch-li);
  outline-offset: -6px;
  border-radius: 16px;
  corner-shape: bevel;
  box-shadow: 10px 10px 10px 0px color(from var(--bg-toolbar) srgb r g b / 0.25);
  scroll-snap-align: none center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    ". author"
    "sp-cat category"
    "sp-year year"
    "sp-pages pages"
    "read read"
    "rating rating"
    ". trash";
  justify-items: center;
  align-items: center;
  .book-title {
    grid-area: title;
  }
  .book-author {
    grid-area: author;
  }
  .span-category {
    grid-area: sp-cat;
  }
  .book-category {
    grid-area: category;
  }
  .span-year {
    grid-area: sp-year;
  }
  .book-year {
    grid-area: year;
  }
  .span-pages {
    grid-area: sp-pages;
  }
  .book-pages {
    grid-area: pages;
  }
  .label-read,
  .book-read {
    grid-area: read;
  }
  .book-read {
    appearance: none;
    position: relative;
    cursor: pointer;
    justify-self: end;
    margin-right: 3rem;
    width: 1.4rem;
    aspect-ratio: 1 / 1;
    border: 2px dotted var(--ch-li);
  }
  .book-read::before {
    content: "\2714";
    position: absolute;
    top: -0.9rem;
    left: -0.2rem;
    font-size: 2.5rem;
    color: currentColor;
    visibility: hidden;
  }
  .book-read:checked::before {
    visibility: visible;
  }
  .book-rating {
    grid-area: rating;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
  }
  [class="rate-label"] {
    font-size: 1.25rem;
    cursor: pointer;
  }
  [class="rate-input"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }
  [class="rate-label"]:has(input:checked) {
    color: gold;
  }
  .button-trash {
    grid-area: trash;
    justify-self: end;
    width: 28px;
    aspect-ratio: 1 / 1;
    margin-inline-end: 1rem;
    margin-block-end: 0.2rem;
    background-color: var(--bg-header);
    border: 1px groove var(--ch-li);
    border-bottom-right-radius: 8px;
    corner-bottom-right-shape: bevel;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  [class^="span-"] {
    justify-self: right;
    align-self: start;
    color: var(--ch-li)
  }
  [class^="ph--"] {
    cursor: pointer;
  }
}

footer {
  align-self: end;
  background-color: var(--bg-header);
}
